.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #2c0ed5;
  color: #fff;
  position: relative;
  overflow: visible;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  min-width: 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 15px;
    width: 220px;
    background: #2c0ed5;
    color: #fff;
    flex-direction: column;
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: none;
    overflow: hidden;
    animation: slideDown 0.3s ease;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 14px 16px;
    border-bottom: 1px solid #eee;
  }

  .nav-links li:last-child {
    border-bottom: none;
  }


  .dropdown {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }
}

