
.navbar {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background: #2c0ed5;
  color: #fff;
  position: relative;
  overflow: visible;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  box-shadow: 0 6px 20px rgba(0,0,0,.2);
  z-index: 10;
}


.mega-menu {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  padding: 10px 40px;
  overflow: auto;
  max-width: 90vw;
  max-height: 80vh;
}
.mega-menu::-webkit-scrollbar {
  width: 6px;
}

.mega-menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}


.menu-column h4 {
  color: #2c0ed5;
  font-size: 14px;
  margin-bottom: 10px;
}

.menu-column ul {
  list-style: none;
  padding: 0;
}

.menu-column li {
  font-size: 13px;
  padding: 4px 0;
  cursor: pointer;
}

.menu-column li:hover {
  font-weight: 600;
}


.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .mega-menu{
  grid-template-columns: repeat(2, 250px); 
  }
}
@media (max-width: 1024px) {
  .mega-menu{
  grid-template-columns: repeat(1, 250px);
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 15px;
    width: 240px;
    background: #2c0ed5;
    color: #fff;
    flex-direction: column;
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: none;
    overflow: hidden;
    z-index: 10;

  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 14px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
 .dropdown {
    position: static;
    box-shadow: none;
  }

  .mega-menu {
    grid-template-columns: 1fr;
    min-width: auto;
  }
  .navbar{
    justify-content: space-between;
  }
}









